*{
    text-align: center;
}

.cell{
    border: 1px solid gray;
    min-width: 20px;
    min-height: 20px;
    display: inline-block;
    margin-right: 2px;
}

#divReset{
    width: 100px;
    align-content: center;
}